# ---- Python cache ----
__pycache__/
*.py[cod]
*.pyo

# ---- Virtual environments ----
.venv/
venv/
ENV/

# ---- PyInstaller ----
build/
dist/
*.spec
info.txt

# ---- OS / editor junk ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log
